<div class="sign-in">
  <div class="sign-in__container">
    <div class="sign-in__header">
      <img alt="logo"/>
    </div>

    <form [formGroup]="form" class="sign-in__form">
      <div class="sign-in__field">
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
      </div>

      <div class="sign-in__field">
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>

      <mat-checkbox formControlName="remember-me">Lembrar minha senha?</mat-checkbox>

      <div class="sign-in__submit">
        <button mat-raised-button color="accent">Acessar</button>
      </div>
    </form>

    <hr class="sign-in__separator" />

    <div>
      <label>teste</label>
    </div>
  </div>
</div>
